<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847318552692-le6t02ajfr3duslvpgkv4987ffucc6aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847318552692-le6t02ajfr3duslvpgkv4987ffucc6aj</string>
	<key>API_KEY</key>
	<string>AIzaSyDAKJbPsRKbkOgwN91pRYI8UIJsVj_Lz5A</string>
	<key>GCM_SENDER_ID</key>
	<string>847318552692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aunsh.realestate</string>
	<key>PROJECT_ID</key>
	<string>real-estate-d0863</string>
	<key>STORAGE_BUCKET</key>
	<string>real-estate-d0863.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847318552692:ios:f80b17094ea0039a55c121</string>
</dict>
</plist>